
  body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #2E2F42;
  }

  .link {
    text-decoration: none;
    font-style: normal;
  }
.logo {
font-family: 'Raleway', sans-serif;
font-size: 18px;
line-height: 21px;

}

.button {
    cursor: pointer;
}